.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1012px;
  margin:0 auto;
  font-size: 12px;
  height: 104px;
  font-weight: 600;
}

.footer__content nav{
  display: flex;
  flex-wrap: wrap;
}

.footer__content a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  margin: 0 8px  0;

}

/* Responsive */
@media screen and (max-width: 875px) {
  .footer__content{
    max-width: 450px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__content nav{
    justify-content: center;
  }

}