/* login image container */
.login__image{
  overflow: hidden;
  width: 240px;
  height: 427px;
  display: flex;
  justify-content: center;
  position: absolute;
  top:17.1%;
  left: 33.3%;
}

.login__image .image__item{
  position:absolute;
  transition: all ease 2s;
}


/* Images */
.login__image .image__item.image__item-fade_out{opacity: 0;}